#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

body {
  align-items: flex-start;
}

button:focus {
  outline: none;
}

.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  display: flex;
}

.flex-gap {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header {
  height: 5vh;
  background-color: #434343;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.header > i {
  position: relative;
  font-size: 1.4rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px;
  row-gap: 50px;
  column-gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-image {
  width: 200px;
  height: 200px;
}

.product-name {
  font-size: 1rem;
  font-weight: 900;
}

.product-price {
  font-style: italic;
}

.product-price::after, .cart-total::after {
  content: " $";
  font-weight: bold;
}

.product-count {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.product-count input {
  text-align: center;
  font-size: 1.2rem;
  width: 30%;
}

.product-current {
  font-style: italic;
  font-size: 0.85rem;
  height: 1rem;
}

.cart-table {
  width: 100%;
  table-layout: fixed;
  padding-top: 30px;
}

.cart-table th {
  background-color: #323232;
}

.cart-product {
  justify-content: space-between;
}

.small-col {
  width: 50px;
}

.cart-product-count {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.cart-product-count input {
  width: 50px;
  text-align: center;
}

.cart-product:nth-child(odd) {
  background-color: #434343;
}

.cart-product:nth-child(even) {
  background-color: #323232;
}

.cart-product-image {
  width: 70px;
  height: 70px;
  padding: 0 20px;
}

.checkout {
  background-color: #323232;
  width: 30%;
  justify-self: center;
  padding-bottom: 30px;
  margin-top: 30px;
  border: 3px solid black;
}

.cart-total {
  font-size: 3rem;
  font-weight: bold;
}

.order-button {
  width: 200px;
  font-size: 2rem;
}

button[disabled], button[disabled]:hover, button[disabled]:focus, button[disabled]:focus-visible {
  outline: none;
  border: none;
  cursor: default;
  border: 0px;
}

.cart-back {
  position: absolute;
  top: 10px;
  left: 10px;
}

.category-filter {
  padding-left: 20px;
  padding-top: 50px;
}

.category-filter select {
  width: 150px;
}

.search {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.search input {
  height: 30px;
  width: 40vw;
}

.search button {
  width: 100px;
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-icon {
  font-size: 2rem;
}

.cart-count {
  position: absolute;
  top: -1px;
  left: -5px;
  min-width: 20px;
  width: auto;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-form > div > div {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.signup-form p {
  color: red;
  font-style: italic;
  font-size: 0.7rem;
}

.signup-form > button {
  width: 200px;
}

.cart-container, .cart-product i {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.loader-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.7);
  z-index: 100;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #b03a25;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
